@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #cbd5e0;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
